    /* Choose a font for the whole page. */
    body {
      font-family: Verdana,sans-serif;
      font-size: small;
    }

    .MainContent
    {
       margin-left: 165px;
       margin-top: 30px;
       margin-right: 20px;
    }

    /* Position the menu sidebar. */
    .MenuBar {
      position: absolute; 
      top: 20px;
      left: 0px;
      margin: 15px; 
    }

    /* Turn all the links in the menu into buttons. */
    .MenuBar a {
      display: block;

      text-decoration: none;
      color: black;

      background: url("NormalButtonBackground.jpg") no-repeat 0 0;
/*      background: none;  */

      width: 125px;
      height: 23px;

      margin-bottom: 5px;
      padding-top: 5px;
      padding-left: 7px;
    }

    /* The rollover effect. */
    .MenuBar a:hover {
      background: url("HighlightedButtonBackground.jpg") no-repeat 0 0;
    }

    /* The clicked effect. */
    .MenuBar a:active {
      margin-left: 1px;
    }
