h1 {
  border-style: double;
  color: fuchsia;
  text-align: center;
}

h2 {
  color: fuchsia;
  margin-bottom: 0px;
  font-size: large;
}

li {
  font-style: italic;
}

body {
  font-family: Verdana,Arial,sans-serif;
  font-size: small;
}

p {
  margin-top: 2px;
}
