/* Remove the margin and set the font for the whole page */
body {
  margin: 0px;
  padding: 0px;
  font-family: Georgia,serif;
  font-size: 18px;
}

/* Set the justification for all paragraphs */
p {
  text-align: justify;
}

/* Float and style all images */
img {
  float: left;
  margin: 3px 15px 7px 0px;
  border: solid white 1px;
}

/* The shaded site header */
h1 {
  background-color: #761C00;
  margin: 0px;
  padding: 20px;
  
  color: white;
  text-align: center;
  
  border-style: solid;
  border-width: 0 0 1px 0;
}

/* The page content, not including the header */
div.main {
  margin: 30px 70px 0 60px;
}

/* The introduction section. */
div.intro {
  margin-bottom: 40px;
  color: #9C9C9C;
}

/* The entire review box. */
div.review {
  background-color:#E4E4E4;
  margin: 20px 0 20px 0;
  padding: 10px;

  border: 1px #8A2700 solid;
  border-bottom-left-radius: 28px 26px;
  border-bottom-right-radius: 7px 14px;
  
  font-size: 16px;
}

/* The review title */
.review h2 {
  margin-top: 0px;
  font-size: 16px;
  color: #761C00;
  margin-bottom: 0px;
}

/* The review summary text */
.review p {
  margin: 15px;
}

/* The review byline */
.review .byline {
  font-size: 12px;
  font-style: italic;
  border-style: outset;
  border-width: 0 0 1px 0;
  margin: 5px 0 5px 0;
}

/* The link at the end of the review summary */
.review .reviewEnd {
  font-style: italic;
  text-align: right;
  margin-bottom: 0px;
  clear: both;
}

.singlePageReview .review {
	border: none;
	background: transparent;
}

.singlePageReview .review .byline {
  font-size: 14px;
  text-align:right;
  margin-right: 15px;
}

.singlePageReview .review h2 {
  font-size: 24px;
  text-align:right;
  color: #E4E4E4;
  background: #D46A6A;
  border-radius: 30px 0;
  padding: 20px;
}

