body {
  font-family: "Trebuchet MS", serif;
  margin: 0px;
}

.Header {
  padding: 15px;
}

.Header h1 {
  margin: 0px;
  font-size: xx-large;
}

.Header p {
  margin: 5px 0px;
}

div {
  font-size: small;
}

.LeftPanel {
  position: absolute;
  left: 0px;
  width: 100px;
  padding: 15px;
}

.MiddlePanel {
  margin-left: 120px;
  margin-right: 190px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-style: solid;
  border-color: blue;
  padding: 15px;
}

.RightPanel {
  position: absolute;
  top: 90px;
  right: 10px;
  width: 150px;
  padding: 15px;
}

.BodyContainer {
  position: absolute;
  max-width: 1000px;
  min-width: 100px;
  left: 0px;
}