body {
  font-family: 'Metrophobic', arial, serif;
  margin: 30px;
}

h1 {
  border-style: single;
  color: fuchsia;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  margin: 20px;
}

h2 {
  color: fuchsia;
  margin-bottom: 0px;
  font-size: 30px;
}

li {
  font-style: italic;
}

p {
  margin-top: 2px;
}
