    /* Choose a font for the whole page. */
    body {
      font-family: Verdana,sans-serif;
      font-size: small;
    }

    /* Position the menu sidebar. */
    .MenuBar {
      position: absolute; 
      top: 20px;
      left: 0px;
      margin: 15px; 
    }

    /* Positing the main column, with the content. */
    .MainContent
    {
       margin-left: 165px;
       margin-top: 30px;
       margin-right: 20px;
    }

    /* Turn all the links in the menu into buttons. */
    .MenuBar a {
      display: block;
    }

